:root {
    --primary-color: #0F0F0F;
    --secondary-color: #232D3F;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 50px;
    background-color: var(--primary-color);
}
h1 {
    margin-right: 10em;
    font-size: 1.5em;
}
ul li {
    position: relative;
    display: inline-block;

}
ul li:hover {
    background-color: var(--secondary-color);
}
ul li:hover .dropdown {
    display: block;
    background-color: var(--primary-color);
    top: 100%;
    left: 0;
}
ul li a{
    display: block;
    text-decoration: none;
    padding: 25px 35px;
    font-size: 1.5em;
}
.dropdown {
    min-width: 200px;
    position: absolute; 
    display: none;
}
.dropdown li {
    width: 100%;
}

